.footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: var(--spacing-md) 0;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: var(--font-size-sm);
}

/* Stile specifico per iOS in modalità standalone */
@media (display-mode: standalone) {
  .footer {
    background-color: transparent;
    padding-bottom: calc(var(--spacing-md) + env(safe-area-inset-bottom));
  }
  
  .footer-content {
    padding-bottom: env(safe-area-inset-bottom);
  }
} 